<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyBlog.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/obsidian.css" />
</head>
<body>
    <header class="head">
        <div class="head-block">
            <img src="~/image/home-image.png" class="home-image"/>
            <div class="header-references">     
                <div class="reference-block">
                    <a asp-page="/About" class="header-references-ref">About</a>
                </div>
                <div class="reference-block">
                    <a asp-page="/Index" class="header-references-ref">Home</a>
                </div>
                <div class="reference-block">
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <a asp-page="/Profile/Index" class="header-references-ref">Profile</a>
                    }
                    else
                    {
                        <a asp-page="/Login" class="header-references-ref">Sign In</a>
                    }
                </div>
            </div>
            <div class="social-media-block">
                <a href="https://github.com/Cubigator">
                    <img class="social-media-icon" src="~/image/github-icon.png" />
                </a>
                <a href="https://vk.com/sc2728">
                    <img class="social-media-icon" src="~/image/vk-icon.png" />
                </a>
                <a href="https://t.me/Ndienxjenh">
                    <img class="social-media-icon" src="~/image/telegram-icon.png" />
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Blog - <a asp-area="" asp-page="/About">О сайте</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/rainbow-custom.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>