@page
@model MyBlog.Pages.Profile.IndexModel
@{
}


<div class="row align-items-start">
    <div class="col align-self-center">
        <h6>Email: @Model.UserModel.Email</h6>
        <h6>Имя: @Model.UserModel.Name</h6>
    </div>
    <div class="col text-end">
        <form method="post">
            <button class="btn btn-success type="submit" asp-page-handler="SelectedArticles">Мои избранные статьи</button>
        </form>
    </div>
</div>
<br />
<form method="post">
    <button class="btn btn-info" type="submit" asp-page-handler="EditProfile">Редактировать профиль</button>
    <br />
    <br />
    <button class="btn btn-secondary" type="submit" asp-page-handler="SignOut">Выйти</button>
</form>
