@page
@model MyBlog.Pages.Profile.IndexModel
@{
}

<div class="row align-items-start">
    <div class="col">
        <p>Email: @Model.UserModel.Email</p>
        <p>Имя: @Model.UserModel.Name</p>
    </div>
    <div class="col">
        <form method="post">
            <button class="btn btn-success type="submit" asp-page-handler="SelectedArticles">Мои избранные статьи</button>
        </form>
    </div>
</div>
<br />
<form method="post">
    <button class="btn btn-info" type="submit" asp-page-handler="EditProfile">Редактировать профиль</button>
    <br />
    <br />
    <button class="btn btn-secondary" type="submit">Выйти</button>
</form>
