@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    @{
        foreach (var article in Model.Articles)
        {
            <a class="article-reference" href="#">
                <div class="article-card">
                    @if (article.Image != null)
                    {
                        <img class="article-image" src="@article.Image">
                    }
                    else
                    {
                        <br />
                    }
                    <p class="article-header">@article.Header</p>
                    <p class="article-introduction">@article.Introduction</p>
                    <p class="article-date">@article.LastModifiedDate.ToShortDateString()</p>
                </div>
            </a>
        }
    }
</div>