@page
@model MyBlog.Pages.RegistrationModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-8 offset-md-2">
    <form method="post">
        <div>
            <label asp-for="InputModel.Email">Email:</label>
            <input asp-for="InputModel.Email" type="email" />
            <span asp-validation-for="InputModel.Email"></span>
        </div>
        <br>
        <div>
            <label asp-for="InputModel.Name">Имя:</label>
            <input asp-for="InputModel.Name" type="text" />
            <span asp-validation-for="InputModel.Name"></span>
        </div>
        <br>
        <div>
            <label asp-for="InputModel.Password">Пароль:</label>
            <input asp-for="InputModel.Password" type="password" />
            <span asp-validation-for="InputModel.Password"></span>
        </div>
        <br>
        <div>
            <label asp-for="InputModel.RepeatPassword">Повторите пароль:</label>
            <input asp-for="InputModel.RepeatPassword" type="password" />
            <span asp-validation-for="InputModel.RepeatPassword"></span>
        </div>
        <div>
            <p>Требования к паролю: </p>
            <ol>
                <li>Пароль должен содержать маленькие и большие латинские символы</li>
                <li>Пароль должен содержать цифры</li>
                <li>Пароль должен содержать специальные символы (!@@#$%^&*-)</li>
                <li>Длина пароля не менее 10 символов</li>
            </ol>
        </div>
        <br>
        <div>
            <button type="submit">Зарегистрироваться</button>
        </div>
        <div>
            @Html.ValidationMessage("Email")
        </div>
    </form>
</div>
</div>
